/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden  ;
}


body.dark-mode {
  background-color: #333;
  color: #fff;
}

.kas {
  margin-left: 15rem; 
 }

.hidden {
  display: none;
}


.mlb{
  margin-left: 50%;
  margin-top: -2%;
}


.con-move-up{
margin-top: 0;
}



.mkd blockquote{
  width: 98%;
border-left: .3rem solid #E46643;
background-color: #E4E4E4;
padding: .5rem;
border-radius: .3rem;
}




.mkd h6{
    color: #E46643;
}
.mkd h4, .mkd h5{
  font-size: bold;
  color: black;
}
.mkd h2{
    font-weight: 300;
}

.mkd  li::marker {
  color: #E46643;

}

.mkd pre {
  background-color: #E4E4E4 !important;
}

.mkd pre code{
color: #151619;
}
.mkd a{
    color: #E46643;


}

        textarea::-webkit-scrollbar, .markdown::-webkit-scrollbar { 
            display: none;
        }



.textarea, .preview {
    flex: 1;
    overflow-y: auto;
}








.button {
    width: 3rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 0.75rem;
    position: relative;
    background: #5A6069;
    transition: 0.2s;

}

.button::before {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 1.125rem;
    background-color: #F1F3FA;
    position: absolute;
    top: 0.37rem;
    right: 0.35rem;
    transition: 0.2s;

}

.button::after {
    background-color: #F1F3FA;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .button::before {
    transform: translateX(-1.5rem);
}
















.preview-allall {
  display: flex; /* Enable Flexbox layout */
  width: 100%; 
  justify-content: center; /* Center content horizontally */
}











